<!-- //this is where you can edit the details of the product after it has been added -->

<textarea data-ng-model="product.name">{{product.name}}</textarea>
<textarea data-ng-model="product.price">{{product.price}}</textarea>
<textarea data-ng-model="product.snippet">{{product.snippet}}</textarea>	
<textarea data-ng-model="product.thumb">{{product.thumb}}</textarea>
<textarea data-ng-model="product.description">{{product.description}}</textarea>

<button data-ng-click="edit()">Update Product</button>